@model IntelliPack.DataAccessLayer.Models.Users
@{
    ViewBag.Title = "Courier Register";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Registro de Courier</h3>
    </div>


    <!--Input Size-->
    <!--===================================================-->
    @using (Html.BeginForm("AddCourier", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "RegisterForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <input type="hidden" name="usersId" value="@Model.usersId" />
            <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Nombre </label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Ej. Juan" class="form-control input-sm" id="name" name="name" value="@Model.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Segundo Nombre </label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Ej. Juan" class="form-control input-sm" id="Segundo_nombre" name="Segundo_nombre" value="@Model.Segundo_nombre">
                </div>
            </div>
            <div class="form-group">
                <label for="demo-is-inputnormal" class="col-sm-3 control-label">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Ej. Perez Rodriguez" class="form-control" id="last_name" name="last_name" value="@Model.last_name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="demo-is-inputsmall">Segundo Apellido </label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Ej. Juan" class="form-control input-sm" id="Segundo_apellido" name="Segundo_apellido" value="@Model.Segundo_apellido">
                </div>
            </div>
            @*<div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Ej. pedro@gmail.com" class="form-control input-lg" id="email" name="email" value="@Model.email">
                </div>
            </div>*@
            <div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Cédula</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Ej. 000-0000000-0" class="form-control input-lg" id="ID" name="ID" value="@Model.ID">
                </div>
            </div>

            <div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Teléfono</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Ej. 000-000-0000" class="form-control input-lg" id="Phone_No" name="Phone_No" value="@Model.Phone_No">
                </div>
            </div>

            <div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Fecha Nacimiento</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Ej. Fecha" class="form-control input-lg" id="date_of_birth" name="date_of_birth" value="@Model.date_of_birth">
                </div>
            </div>
            <div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Ciudad</label>
                <div class="col-sm-6">
                    @Html.DropDownListFor(g => g.city_code, ViewBag.Cities as IEnumerable<SelectListItem>
                                                                , new { @class = "form-control", @id = "city_code" })
                </div>
            </div>

            <div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Dirección</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Ej. Calle Juan no. 12, los pinos" class="form-control input-lg" id="addresss" name="addresss" value="@Model.addresss">
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Donde Desea Recibir Los Paquetes</label>
                <div class="col-sm-6">
                    @Html.DropDownListFor(g => g.CourierId, ViewBag.Couriers as IEnumerable<SelectListItem>
                                                                , new { @class = "form-control", @id = "CourierId" })
                </div>
            </div>

            <div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Correo</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Ej. pedro@gmail" class="form-control input-lg" id="username" name="username" value="@Model.username">
                </div>
            </div>

            <div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Clave</label>
                <div class="col-sm-6">
                    <input type="password" placeholder="Clave" class="form-control input-lg" id="passwords" name="passwords" value="@Model.passwords">
                </div>
            </div>
            <div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Confirmar Clave</label>
                <div class="col-sm-6">
                    <input type="password" placeholder="Confirmar Clave" class="form-control input-lg" id="ConfirmPassword" name="ConfirmPassword" value="@Model.ConfirmPassword">
                </div>
            </div>
            <div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Direccion Donde Recibir Envio Domicilio</label>
                <div class="col-sm-6">
                    <input type="text" id="us2-address" class="form-control input-lg" />
                </div>
                <div class="col-sm-6 text-center">
                    <div id="us2" style="width: 600px; height: 400px;margin-left: 51%;"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Latitud</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Latitud" class="form-control input-lg" id="lat" name="lat" value="@Model.lat" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label for="demo-is-inputlarge" class="col-sm-3 control-label">Longitud</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="Longitud" class="form-control input-lg" id="lng" name="lng" value="@Model.lng" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <span id="spnModalConfigInformation" style="color:red;">@ViewBag.Message</span>
                    <button class="btn btn-primary btn-labeled fa fa-send fa-lg" type="submit">Guardar</button>
                    <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset">Cancalar</button>
                </div>
            </div>
        </div>
    }
    <!--===================================================-->
    <!--End Input Size-->


</div>
@section Header
{
    <link href="@Url.Content("~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.css")" rel="stylesheet">
}

@section scripts
{
    <script src="@Url.Content("~/Content/plugins/bootstrap-validator/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/masked-input/jquery.maskedinput.min.js") "></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
<script src="@Url.Content("~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCGEll2r7TLmoS-jf9sgyq7-liQuu1rJyY'></script>
<script src="@Url.Content("~/Content/plugins/locationpicker.jquery.js")"></script>
<script>
    $('#us2').locationpicker({
        location: { latitude: 18.48605749999999, longitude: -69.9312117 },
        radius: 2,
        inputBinding: {
            latitudeInput: $('#lat'),
            longitudeInput: $('#lng'),
            radiusInput: 0,
            locationNameInput: $('#us2-address')
        },
        enableAutocomplete: true,
        onchanged: function (currentLocation, radius, isMarkerDropped) {
            alert("Recepción Paquetes a Domicilio Cambiada");
        }
    });
</script>
    <script type="text/javascript">
    $('#ID').mask('999-9999999-9');
    $('#Phone_No').mask('999-999-9999');

    $('#date_of_birth').datepicker({
        format: "yyyy-mm-dd",
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true
    });
    var faIcon = {
        valid: 'fa fa-check-circle fa-lg text-success',
        invalid: 'fa fa-times-circle fa-lg',
        validating: 'fa fa-refresh'
    }

    $('#RegisterForm').bootstrapValidator({
		message: 'This value is not valid',
		feedbackIcons: faIcon,
		fields: {
		    name: {
		        message: 'Nombre inválido',
			validators: {
				notEmpty: {
				    message: 'Requerido.'
				}
			}
		    },
		    last_name: {
		        message: 'Apellidos inválido',
		        validators: {
		            notEmpty: {
		                message: 'Requerido.'
		            }
		        }
		    },
		    username: {
			validators: {
				notEmpty: {
				    message: 'Requerido.'
				}
			}
		    }, "ID": {
		        validators: {
		            notEmpty: {
		                message: 'Requerido.'
		            }
		        }
		    },
		    "Phone_No": {
		        validators: {
		            notEmpty: {
		                message: 'Requerido.'
		            }
		        }
		    },

		    addresss: {
		        validators: {
		            notEmpty: {
		                message: 'Requerido.'
		            }
		        }
		    },
		passwords: {
			validators: {
				notEmpty: {
				    message: 'Requerido.'
				},
				identical: {
				    field: 'ConfirmPassword',
				    message: 'La Clave y su confirmación deben ser iguales.'
				}
			}
		},
		ConfirmPassword: {
			validators: {
				notEmpty: {
				    message: 'Requerido.'
				},
				identical: {
				    field: 'passwords',
					message: 'La Clave y su confirmación deben ser iguales.'
				}
			}
		}
		}
	}).on('success.field.bv', function(e, data) {
		// $(e.target)  --> The field element
		// data.bv      --> The BootstrapValidator instance
		// data.field   --> The field name
		// data.element --> The field element

		var $parent = data.element.parents('.form-group');

		// Remove the has-success class
		$parent.removeClass('has-success');
	});
    </script>
}




